# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class


# Pycharm
.idea/*

# results dir
/results
/files

# venvs:
/env3.8

# ctree:
core/ctree/build/
core/ctree/cytree.cpp
core/ctree/cytree.cpython-38-x86_64-linux-gnu.so